body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-content: center;
	background-color: blanchedalmond;
	padding: 35px;
	border: solid 3px rgb(2, 97, 2);
	margin: 25px;
	border-radius: 30px;

}

.intro{
	display: block;
	padding: 10px;
}

p {
	font-family: "Josefin Sans", sans-serif;
	color:black;
	font-weight: bold;
	font-size: 20px;
}

h3 {
	font-size: 42px;
}
h4 {
	font-size: 30px;
}

h3, h4 {
	font-family:"Sedgwick Ave", cursive;
	font-weight: bold;
}

.Btn {
	margin: 50px;
	display: flex;
	height: auto;
	width: 700px;
	justify-content: space-between;
}
#color, #place, #ritual {
	background-color: yellow;
	font-size: 24px;
	font-family: "Sedgwick Ave", cursive;

}